<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Saludos</title>
</head>
<body>
     <h1>Desde los saludos</h1>
     <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione dolor, vero reiciendis aut ad obcaecati distinctio atque perferendis voluptate, delectus ullam maiores repudiandae ipsum vitae velit fugiat totam suscipit repellat!
     Dolorem non ipsa nihil. Maiores repellendus vel, explicabo sequi animi cumque, facere, ex enim soluta quidem vitae eius. Quisquam nulla minus voluptatum voluptate fugit eos at modi velit, voluptatibus alias.
     Inventore soluta dolor, nulla distinctio velit omnis in. Molestias error quo deleniti, in eligendi sunt atque voluptates libero necessitatibus! Aut voluptates iste consequuntur dignissimos error officia eveniet facere animi minima.
     A vel consectetur modi, at facere accusamus optio quod, ab pariatur tenetur consequuntur nostrum consequatur, saepe eaque voluptatem quis enim nemo et aut ipsum? Placeat doloribus obcaecati nisi culpa est!
     Sapiente officiis dolorem ea ratione inventore voluptas vel sunt quos quasi, ad hic recusandae, quod reiciendis molestiae accusamus, possimus unde beatae consequatur fuga esse omnis quisquam. Nihil doloribus numquam eligendi!
     Exercitationem dolores facere accusamus itaque consequuntur aliquam pariatur ipsa reprehenderit nihil earum obcaecati quis perspiciatis enim fugit voluptatum incidunt ipsam eius nobis ad, magni id? Nesciunt obcaecati saepe excepturi eius.
     Temporibus mollitia ipsam quod tempore labore ratione. Repellat, nostrum dolores! Dicta mollitia ratione eligendi fugit doloremque animi similique blanditiis quod recusandae ipsum, debitis labore adipisci delectus pariatur sint quia fuga.
     Fugiat porro laudantium, ex doloremque inventore, officiis dolores nobis harum ipsam deleniti, commodi ducimus distinctio. Minima ab nesciunt alias quaerat, incidunt a accusantium minus, sunt adipisci, ea inventore vitae error.
     Asperiores magnam enim cum, repellendus ea optio voluptates. Ullam eligendi reiciendis optio sed, eaque cumque velit sequi dolore labore quibusdam, adipisci illum voluptatum atque qui nam! Esse ab ea molestiae.
     Unde, delectus excepturi blanditiis modi assumenda, harum provident consequuntur consequatur, dolorum veniam at minus. Recusandae labore incidunt, minima atque eum adipisci accusamus dolorum libero, culpa et nihil ab fugit nemo.</p>
</body>
</html>